{% extends "admin/base.html" %}
{% load i18n %}

{% block userlinks %}
{% if site_url %}
  <a href="{{ site_url }}">{% translate "Go to the application" %}</a> /
{% endif %}
<form id="logout-form" method="post" action="{% url "admin:logout" %}">
  {% csrf_token %}
  <button type="submit">{% translate "Log out" %}</button>
</form>
{% endblock %}
